<!DOCTYPE html>
<html>
<head>
	<title>Spid.io - An awesome game!</title>
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body onload="main();">
	<canvas id="canvas"></canvas>
	<img id="img-spider-black" src="static/img/funny-spider.png">
	<img id="img-spider-blue" src="static/img/cute-spider.png">
</body>
<script src="static/js/main.js"></script>
<script src="static/js/Game.js"></script>
<script src="static/js/Spider.js"></script>
<script src="static/js/Vector.js"></script>
<script src="static/js/Camera.js"></script>
<script src="static/js/CanvasPixels.js"></script>
<script src="static/js/SpidSocket.js"></script>
<script src="static/js/Sprite.js"></script>
</html>